<div class="height100vh bg-success d-flex justify-content-center align-items-center">
  <ng-container *ngIf="isLoaded; else loadingScreen">
    <div class="d-flex justify-content-between flex-column height100vh">

      <div class="d-flex flex-row justify-content-center mt-5">
      <!--  Dealer cards  -->
        <ng-container *ngFor="let card of dealerCards; let i = index">
          <ng-container *ngIf="i == 0 && !dealersTurn; else showCards">
            <img id="{{i}}" class="card" src="assets/cards/backside.png">
          </ng-container>
          <ng-template #showCards>
            <img id="{{i}}" class="card" src="assets/cards/{{card}}.svg">
          </ng-template>
        </ng-container>
        <h1 class="text-white" *ngIf="dealersTurn">({{dealerValue}})</h1>
      </div>

      <!--Controllers-->      
      <div class="d-flex justify-content-center py-5">
        <div class="d-flex flex-column">
          <div class="text-center">
            <ng-container *ngIf="!gameRunning && !message">
              <button type="button" class="btn btn-warning" (click)="startNewGame()">Deal</button>
            </ng-container>
            <ng-container *ngIf="!gameRunning && message">
              <button type="button" class="btn btn-warning" (click)="restartGame()">Deal</button>
            </ng-container>
            <ng-container *ngIf="gameRunning">
                <button type="button" class="btn btn-danger" (click)="stand()">Stand</button>
                <button type="button" class="btn btn-primary" (click)="hit()">Hit</button>
            </ng-container>
          </div>
          <div class="text-center">
            <h1>{{message}}</h1>
          </div>
        </div>
      </div>

      <!--  Player cards  -->
      <div class="d-flex justify-content-center flex-row mb-5">
        <ng-container *ngFor="let card of playerCards; let i = index">
          <img id="{{i}}" class="card" src="assets/cards/{{card}}.svg">
        </ng-container>
        <h1 class="text-white" *ngIf="playerCards[0]">({{playerValue}})</h1>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingScreen>
    <div class="text-center">
      <h1>Blackjack</h1>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>